@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root{
    --main-blue: #9DD8F8;
    --dark-blue: #0E185F;
    --footer-color: #20262E;
}

.container{
    padding: 0 5%;
}

html,body{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.navbar .btn-navbar,
.navbar-footer .btn-navbar{
    background-color: var(--dark-blue);
    color: #fff !important;
    padding: .8rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s all;
    font-weight: 600;
}

.navbar-fixed .btn-navbar:hover{
    background-color: #6197b5 !important;
}

.navbar .btn-navbar:hover{
    background-color: #465a7b;
}

.navbar-footer .btn-navbar{
    color: var(--dark-blue) !important;
    font-weight: 600;
}

.navbar-footer .btn-navbar:hover{
    color: #fff !important;
    text-decoration: none;
    background-color: #6197b5 !important;
}

.navbar-fixed .btn-navbar,
.navbar-footer .btn-navbar{
    background-color: var(--main-blue) !important;
}

.navbar{
    background-color: var(--main-blue) !important;
}

.navbar-fixed{
    background-color: #fff !important;
    position: fixed;
    width: 100%;
    top: -50%;
    transition: all .3s;
    border-bottom: 1px solid var(--footer-color);
}

.navbar-fixed-active{
    top: 0;
    z-index: 999;
}

.navbar-fixed .logo{
    width: 40px !important;
}

.navbar-fixed .navbar-nav .nav-link:hover{
    color: var(--main-blue) !important;
}

.navbar-fixed .navbar-nav .nav-link::after{
    background-color: var(--main-blue) !important;
}

.navbar .navbar-nav a{
    font-size: .85rem;
    margin-left: 18px;
    color: var(--dark-blue);
    font-weight: 600;
    position: relative;
}

.navbar-footer a{
    color: #fff;
    font-size: .9rem;
    margin-right: 1rem;
    position: relative;
}

.navbar-footer a:last-child{
    margin-right: 0;
}

.navbar-footer a:hover{
    color: var(--main-blue);
}

.navbar-footer .nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-blue);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s;
}

.navbar-footer a:hover::after{
    width: 50%;
}


.navbar .navbar-nav .nav-link:hover{
    color: #fff;
}

.navbar .navbar-nav a.active{
    font-weight: 600;
    color: #fff;
}

.navbar .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--dark-blue);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s;
}

.navbar .navbar-nav .nav-link:hover::after{
    width: 50%;
}

.navbar .navbar-nav .nav-link.active:hover::after{
    width: 0%;
}


.navbar .logo{
    width: 55px;
}

.hero{
    padding-top: 4rem;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    height: 650px;
}

.hero .sub-title{
    margin-bottom: .6rem;
}

.hero .header-title{
    margin-bottom: 1.8rem;
}

.hero .paragraf{
   color: var(--dark-blue);
   font-weight: 600;
}

.tentang-new-normal,
.tips-new-normal{
    padding: 6rem 0;
}

.why-vaksin{
    padding-bottom: 2rem;
    padding-top: 6rem;
}

.varian-vaksin{
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.varian-vaksin{
    position: relative;
}

.why-vaksin{
    background-color: var(--main-blue);
}

.vaksin{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8rem 0;
    overflow: hidden;
    background-image: url("/assets/vaksinasi.jpg");
}

.vaksin::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
}

.vaksin h1.title-section{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-blue);
}


.tips-new-normal{
    background-color: var(--main-blue);
    color: #fff;
}

section h6.sub-title{
    margin-bottom: .9rem;
}

section h1.title-section{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-blue);
}

.tips-new-normal h1.title-section{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-blue);
}

.tips-new-normal .header-content{
    margin-bottom: 2.8rem;
}

section .header-content{
    margin-bottom: 1.8rem;
}

section p{
    font-size: .9rem;
    line-height: 28px;
}

.thumbnail{
    border: 0;
    padding: 0;
    border: 6px solid var(--main-blue);
    border-radius: 14px;
    position: relative;
    overflow: hidden;
}

.card-information{
    position: relative;
    padding: 1.8rem;
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    transition: all .5s;
}

.card-hover-left:hover,
.card-hover-right:hover{
    margin-top: -20px;
    box-shadow: -12px 20px 0 rgba(0, 0, 0, .5);
}

.card-hover-center:hover{
    margin-top: -20px;
    box-shadow: 12px 20px 0 rgba(0, 0, 0, .5);
}

.card-information .card-title{
    margin-bottom: .9rem;
    color: var(--dark-blue);
}

.card-information .card-body{
    padding: 0;
    padding-top: 1.4rem;
}

.card-information .card-text{
    font-size: .85rem;
}

.vaccine-content{
    position: relative;
    border: 2px solid var(--dark-blue);
    border-radius: 6px;
    margin-bottom: 2.3rem;
}

.vaccine-content-list .vaccine-content:nth-child(1){
    box-shadow: 6px 8px rgb(0, 0, 0, .5);
}
.vaccine-content-list .vaccine-content:nth-child(2){
    left: 20px;
    box-shadow: 6px 8px rgb(0, 0, 0, .5);
}
.vaccine-content-list .vaccine-content:nth-child(3){
    left: 40px;
    box-shadow: 6px 8px rgb(0, 0, 0, .5);
}
.vaccine-content-list .vaccine-content:nth-child(4){
    left: 60px;
    box-shadow: 6px 8px rgb(0, 0, 0, .5);
}

.vaccine-content .data-content{
    padding: 1rem .9rem;
}

.vaccine-content .title-content{
    font-size: .85rem;
    line-height: 22px;
    margin-bottom: 0;
}

.varian-vaksin .header-content .sub-title{
    color: var(--dark-blue);
}

.varian-vaksin .header-content{
    margin-bottom: 1rem;
}

.swiper-button-next{
    right: 100px !important;
    top: 60% !important;
}

.swiper-button-prev{
    left: 100px !important;
    top: 60% !important;
}

.img-thumb{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.img-thumb img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-vaksin{
    position: relative;
    margin-bottom: -100px;
}

.cta-vaksin .header-content{
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}

.cta-vaksin .container{
    background-color: var(--main-blue);
    padding: 3.5rem 3rem;
    border-radius: 8px;
}

.cta-vaksin .header-content .title-section{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.btn-vaccine{
    text-decoration: none;
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 1rem;
    padding: .9rem 2.3rem;
    border-radius: 8px;
    display: block;
    max-width: fit-content;
    margin: 2.3rem auto;
    margin-bottom: 0 !important;
    transition: .5s;
    font-weight: 600;
}

.btn-vaccine:hover{
    color: #fff;
    background-color: #060a2d;
}

.footer{
    padding-top: 10rem !important;
    padding: 5rem 0;
    background-color: var(--footer-color);
    color: #fff;
}

.footer .logo-content{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    margin-bottom: 1.4rem;
}

.footer  .motto{
    font-size: .85rem;
    line-height: 28px;
    font-weight: 400;
}

.footer .logo-content h4{
    font-size: 1.6rem;
    color: #fff
}

.footer .logo-footer{
    width: 60px;
}

@media(max-width:768px) {
    .hero{
        background-position: center;
    }

    .card-information{
        margin-bottom: 2.2rem;
    }

    .vaccine-content-list .vaccine-content:nth-child(1){
        left: 0;
    }
    .vaccine-content-list .vaccine-content:nth-child(2){
        left: 0;
    }
    .vaccine-content-list .vaccine-content:nth-child(3){
        left: 0;
    }
    .vaccine-content-list .vaccine-content:nth-child(4){
        left: 0;
    }

    .navbar .navbar-nav a{
        margin-left: 0;
    }

    .navbar-footer a{
        margin-left: 0;
    }

}